.i1 {
  background-color: rgba(50, 48, 70, 0.5); }

.i1 figure {
  background-color: #acacac; }

.i1 figcaption {
  color: #443914; }

.i2 {
  background-color: rgba(68, 58, 75, 0.4); }

.i2 figure {
  background-color: #b6b6b6; }

.i2 figcaption {
  color: #372b00; }

.i3 {
  background-color: rgba(20, 19, 27, 0.5); }

.i3 figure {
  background-color: #9d9d9d; }

.i3 figcaption {
  color: black; }

.i4 {
  background-color: rgba(37, 31, 41, 0.4); }

.i4 figure {
  background-color: #b7b7b7; }

.i4 figcaption {
  color: black; }

body {
  margin: 0px;
  font-family: coranto-2, serif;
  font-weight: 400;
  font-style: normal; }

.main {
  background-image: url("../img/background.png");
  background-repeat: repeat;
  position: relative;
  align-items: center;
  margin-left: 220px;
  background-color: #413e5b;
  padding-bottom: 80px; }

header {
  display: flex;
  align-items: center;
  padding: 0.625rem 5rem;
  background-color: #ffc904;
  margin-left: 220px; }

footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #0000006a; }

footer p {
  font-family: coranto-2, serif;
  font-weight: 700;
  font-style: italic;
  margin-right: 1rem; }

figure {
  padding: 1rem;
  border-radius: 5px; }

img {
  max-width: 100%; }

h1 {
  margin: 1rem auto;
  font-family: prenton-display, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2.5em;
  letter-spacing: 1px; }

h2 {
  position: absolute;
  top: 0.5rem;
  font-family: prenton-display, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  color: #ffc904; }

h3 {
  color: #ba9b37; }

p {
  font-family: sans-serif;
  font-size: 1rem;
  color: #eceff9;
  text-align: justify;
  text-justify: inter-word; }

.grid {
  display: grid;
  max-width: 100%;
  background-color: #26262673;
  padding: 3rem 1rem; }

.gridItem {
  position: relative;
  grid-row: span 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0.3rem 0.3rem;
  border: 1px solid rgba(222, 222, 222, 0.174);
  opacity: 80%; }

@media screen and (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr; } }
@media screen and (min-width: 1001px) {
  .grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr; } }
.sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: black;
  height: 100%;
  width: 220px;
  padding-top: 15vh;
  flex-direction: column; }

.sidebar img {
  width: 160px;
  border-radius: 50%;
  filter: grayscale(100%); }

.sidebarCap {
  align-items: center;
  width: 80%;
  margin: 10px auto; }

@media screen and (max-width: 700px) {
  .sidebar {
    height: 120px;
    width: 100%;
    padding-top: 1%;
    display: block; }

  .sidebar img {
    display: inline-block;
    width: 80px;
    margin: 1rem;
    border-radius: 50%; }

  .sidebarCap {
    position: absolute;
    top: 5px;
    left: 7rem; }

  header {
    margin-left: 0px;
    margin-top: 120px; }

  .main {
    margin-left: 0px; } }
@media screen and (max-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: center; }

  .column {
    max-width: 80%;
    margin: 0px auto; } }
@media screen and (min-width: 1401px) {
  .container {
    display: flex; }

  .text {
    flex: 40%;
    margin: 5px;
    padding: 0.8rem; }

  .image {
    flex: 60%; } }

/*# sourceMappingURL=main.css.map */
